<div class="Banner_Container" style="background: url('{{component.Banner_img_karim}}') center / contain  no-repeat" >
    <h1 class="Banner_Container_header">{{component.Banner_title_karim}}</h1>
    <p class="Banner_Container_Content">{{component.Banner_text_karim}}</p>
</div>
