

<div class="Side_info_container">
    
    <div class="Side_info_container_info">
        <h2 class="Side_info_title">{{component.Side_info_title}}</h2>
        <p class="Side_info_desc">{{component.Side_info_desc}}</p>
        <a class="Side_info_btn">{{component.Side_info_btn}}</a>
    </div>

    <div class="Side_info_container_img">
        <div class="Side_info_img">{{component.Side_info_image}}</div>
    </div>

</div>